.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.title-form {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  user-select: none;
  margin-top: 90px;
  color: #3d85c6;
}

.info-p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  color: #3d85c6;
}
